@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');

.page {
  overflow: hidden;
}

body {
  background-color: #f6f9fb !important;
  color: #333;
  font-size: 11pt;
  font-family: 'Montserrat', Arial, serif;

  .light {
    transition: all 0.3s;
  }

  .dark {

    transition: all 0.3s;
    background-color: #303030 !important;
    color: #fdfdfd !important;

    .header {
      background: rgba(232, 78, 207, 1);
      background: linear-gradient(90deg, rgb(66, 64, 154) 0%, rgb(26, 69, 122) 40%, rgb(122, 37, 108) 100%);
    }

    .btn-primary {
      border: 1px solid #aaa !important;
      color: #eee;
    }

    .card {
      background-color: #111111 !important;

      .card-description,
      .gauge-value {
        color: #fafafa !important;
      }

      table {
        color: #fafafa !important;
      }
    }

  }

  .modeTest {
    background-color: #929598;

    .header {
      background: rgb(231, 231, 231);
      background: linear-gradient(90deg, #c3c6cb 0%, #929598 40%, #444648 100%);
    }

    &.dark {
      .header {
        background: rgb(101, 101, 101);
        background: linear-gradient(90deg, #5b5b5b 0%, #252525 40%, #000000 100%);
      }

    }


  }


}

.content {
}

.modeTest {
  .title {
    background-color: gray !important;
  }

  .btn {
    background-color: gray !important;
  }
}

.charts-container {
  height: 100%;
}

.header {

  position: fixed;
  z-index: 10;
  width: calc(100% - 3.2rem);
  height: 7rem;
  display: flex;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  background: rgba(232, 78, 207, 1);
  background: linear-gradient(90deg, rgba(111, 109, 255, 1) 0%, rgba(49, 131, 232, 1) 40%, rgba(232, 78, 207, 1) 100%);
  align-items: center;
  border-radius: 1rem;
  margin: 1.6rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;

  .powered-by {
    font-weight: normal;
  }

}

html:not([data-scroll='0']) .header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  transform: scale(1.005);
}

.logo {

  img {
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    padding: 0;
    height: 4rem;
    border-radius: 100em;
    background-color: transparent;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 1px 5px rgba(255, 255, 255, 0.3);
    }
  }

}

.powered-by {
  font-size: 12pt;
  margin-bottom: 0.4rem;

  img {
    cursor: pointer;
    filter: brightness(100);
    height: 1.3rem;
    margin-left: 0.3rem;
    transition: all 0.2s;

    &:hover {
      filter: brightness(100) drop-shadow(0 1px 5px rgba(255, 255, 255, 0.6));
    }
  }
}

.current-block {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.6;
  }
}

.network-activity-graph {

  overflow: hidden;

  .network-activity-title {
    height: 1rem;
    font-size: 0.85rem;
    margin: 0.2rem 1rem 0.2rem 0;
  }

  .block-indicator {
    min-height: 1rem;
    min-width: 1rem;
    margin: 0.2rem;
  }

}

.loading {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 4rem;
  }
}

.background {
  opacity: 0.1;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  height: 100%;
}

.card {
  display: flex;
  padding: 1.2rem 1.5rem;
  margin: 0.7rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: none;
  border-radius: 1rem;
  background-color: white;

  .card-title {
    font-weight: 600;
  }
}

.hidden {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-height: 0;
  visibility: hidden;
  transition: all 0.3s;
  opacity: 0;
}

.visible {
  overflow: hidden;
  max-height: 100rem;
  opacity: 1;
  transition: all 0.3s;
}

.right-0 {
  right: 0;
}

.chart-title {
  display: flex;
  justify-content: center;
  /*font-weight: bold;*/
  margin-bottom: 1rem;
}

.vr {
  display: inline;
  height: 50%;
  width: 1px;
  border: 1px solid #c5c5c5;
  margin: auto 0;
}

.card-title {
  margin-right: 0.3rem;
  font-size: 1.1rem;
}

.btn {
  border-radius: 10rem;
}

.btn-primary {
  background-color: transparent !important;
  border: 1px solid #fff !important;
  box-shadow: none !important;
  padding: 0.8rem 0.9rem 0.7rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.5) !important;
    border: 1px solid #fff !important;
  }

}

.charts {
  flex: 1 !important;
}

.subscriptions-chart-container {
  min-width: 730px;
}

.network-chart-container,
.audit-chart-container {
  min-width: 280px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  height: 100%;
}

.projects-chart {
  margin-right: -7rem !important;
}

.audit-gauges {
  flex: 1;
}

.network-performance-chart-container {
  min-width: 760px;
}

.gauge-icon {
  margin-right: 1rem;
}

.gauge-card {

  min-width: 10rem;
  height: 7rem;
  flex: 0.5;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  .card-title {
    font-size: 0.9rem;
  }

  .gauge-value {
    font-size: 2rem;
    font-weight: 600;
    color: #27272E;
  }

  &.health-card {

    flex: 1;
    min-width: 18rem;

    .gauge-icon {
      img {
        height: 5rem;
      }
    }

    .card-title {
      font-size: 1.1rem;
    }

    .card-description {
      color: #425466;
      font-weight: 200;
    }

    .gauge-value {
      font-size: 46pt;
      font-weight: bold;
      opacity: 0.8;
      margin-left: 0.5rem;
    }

    .card-content {

      margin-left: 1rem;

      .card-title {
        cursor: pointer;
      }
    }

    .health-value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      top: 0.8rem;
      right: 0.8rem;
      color: #fff;
      background: rgb(111, 109, 255);
      background: linear-gradient(45deg, rgba(111, 109, 255, 1) 0%, rgba(49, 131, 232, 1) 30%, rgba(232, 78, 207, 1) 100%);
      border-radius: 10rem;
      cursor: pointer;
    }

  }

}

@media only screen and (max-width: 1350px) {

}

@media only screen and (max-width: 1150px) {

  .projects-chart {
    margin-right: -3rem !important;
  }

  .charts-container {
    flex-flow: wrap;
    justify-content: center !important;
  }

  .chart-container {
    margin-bottom: 2rem !important;
  }

  .charts .vr {
    display: none;
  }

  .gauge-icon {
    transform: scale(0.7);
  }

  .btn {
    font-size: 10pt !important;
  }

  .card-title {
    font-size: 10pt !important;
  }

  .gauge-value {
    font-size: 20pt !important;
  }

  .main-title {
    font-size: 16pt;
  }

}

@media only screen and (max-width: 800px) {

  .network-performance-chart-container {
    min-width: 600px;
  }

  .header {
    margin: 1rem;
    width: calc(100% - 2rem);
  }

  .powered-by {
    font-size: 10pt;
    margin-bottom: 0;
  }

  .powered-by img {
    height: 1.1rem;
  }

  .gauge-cards {

    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 2rem;

    .gauge-value {
      font-size: 14pt !important;
    }

  }

  .card {
    box-shadow: none !important;
    border-top: 1px solid #ddd;
    border-radius: 0;
    margin: 0;
    padding: 2rem 1rem;
  }

  .gauge-card {
    border: none;
    padding: 0 0 1rem 0;
  }

  .main-container {

    &.px-3 {
      padding: 0 !important;
    }

  }

  body {

    width: 100% !important;
    background-color: white !important;
  }

  .main-title {
    font-size: 14pt;
  }

  .title-buttons {
    width: 100%;
    justify-content: end;
  }

  .logo img {
    height: 2.5rem;
    cursor: pointer;
  }

  .header {
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
    padding: 0.8rem 0;
    height: 8rem;
    flex-flow: wrap;
  }

  .chart-title {
    font-size: 10pt;
  }

  table {
    font-size: 10pt;
  }

  .gauge-icon {
    margin-left: -1rem !important;
  }

  .gauge-cards {
    margin-top: 1rem;
  }

  .health-value {
    cursor: pointer;
    position: initial !important;
    margin-left: auto;
  }

  .chart {
    margin: -1rem 0;
    transform: scale(0.85);
  }
}

@media only screen and (max-width: 750px) {
  .chart {
    margin: -1.5rem 0;
    transform: scale(0.8);
  }
}

@media only screen and (max-width: 700px) {
  .chart {
    margin: -2rem 0;
    transform: scale(0.75);
  }
}

@media only screen and (max-width: 650px) {
  .chart {
    margin: -2.5rem 0;
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 600px) {

  .subscriptions-chart-container,
  .network-performance-chart-container {
    min-width: 400px;
  }

  .network-chart-container,
  .audit-chart-container {
    min-width: 190px;
  }

  .chart {
    margin: -3rem 0;
    transform: scale(0.65);
  }

  .powered-by {
    font-size: 9pt;
    margin-bottom: 0;

    img {
      height: 1rem;
      margin-bottom: 0.1rem;
    }

  }

  .main-title {
    font-size: 12pt;
  }

  .gauge-icon {
    transform: scale(0.7);
  }

  .card-title {
    font-size: 9pt !important;
  }

  .card-description {
    font-size: 8pt;
  }

  table {
    font-size: 8pt;
  }

  .gauge-cards {
    .vr {
      display: none !important;
    }
  }

}

@media only screen and (max-width: 500px) {
  .chart {
    margin: -3.5rem 0;
    transform: scale(0.5);
  }
}
